<!DOCTYPE html>

{% load static %}

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Menu principal</title>

    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

     <style>
        /* Customização opcional */
        .card {
            margin: 15px 0;
        }
        .card img {
            object-fit: cover; /* Ajusta a imagem para preencher o espaço sem distorção */
            height: 200px; /* Altura fixa para as imagens */
        }
    </style>
    <style>
    .cart-icon {
        margin-right: 20px; /* Espaço de 20px entre a imagem e o botão */
    }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(página atual)</span></a>
      </li>
      <li class="nav-item">
        <a href="{% url 'fhistoria' %}" class="nav-link" >Nossa Historia</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Produtos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a href="{% url 'flista_produtos' %}?categoria=celular" class="dropdown-item" >Celular</a>
          <a href="{% url 'flista_produtos' %}?categoria=capa" class="dropdown-item">Capa</a>
          <div class="dropdown-divider"></div>
          <a href="{% url 'flista_produtos' %}?categoria=acessorios" class="dropdown-item" >Acessórios</a>
        </div>
      </li>
    </ul>
      <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                <a class="nav-link" href="{% url 'exibir_carrinho' %}"><img src="{% static 'img/icons8-carrinho-50.png' %}" alt="carrinho" class="cart-icon"></a>
              </li>

<form class="form-inline my-2 my-lg-0" action="{% url 'flogin' %}">
    <button class="btn btn-outline-success my-2 my-sm-0">Login</button>
</form>
  </div>
</nav>
    <!-- Bloco para exibir mensagens -->
    {% if messages %}
        <div class="alert alert-danger" role="alert" id="messageModal" data-dismiss="modal">
            {% for message in messages %}
                {{ message }}<br>
            {% endfor %}
        </div>
    {% endif %}

    <h1 class="text-center">Loja de Celular</h1>


    <br>
    <div class="imagem-container">
    <img src="{% static 'img/logo fun.png' %}" width="20%" height="20%">
</div>

<style>
  .imagem-container {
    text-align: center; /* Centraliza horizontalmente */
  }

  .imagem-container img {
    display: inline-block;  /* Garante que a imagem se comporte como um bloco */
    margin-top: 50px;  /* Ajuste conforme necessário para centralizar verticalmente */
  }
</style>

    <section class="container mt-5">
    <h2 class="text-center">Nossos Produtos</h2>
    <div class="row">
        <!-- Card de Produto 1 -->
        <div class="col-md-4">
            <div class="card">
                <img src="{% static 'img/capinha1.jpg' %}" class="card-img-top" height="5%" alt="Celular Modelo 1">
                <div class="card-body">
                    <h5 class="card-title">Capinha infinito</h5>
                    <p class="card-text">Celular de última geração com tela de 6.5" e câmera de 48MP. Ideal para quem busca desempenho e qualidade.</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
        <!-- Card de Produto 2 -->
        <div class="col-md-4">
            <div class="card">
                <img src="{% static 'img/capinha2.jpg' %}" class="card-img-top" alt="Celular Modelo 2">
                <div class="card-body">
                    <h5 class="card-title">Capinha stick</h5>
                    <p class="card-text">Celular com processador rápido e tela AMOLED. Perfeito para quem gosta de jogos e streaming de vídeo.</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
        <!-- Card de Produto 3 -->
        <div class="col-md-4">
            <div class="card">
                <img src="{% static 'img/capinha3.jpg' %}" class="card-img-top" alt="Celular Modelo 3">
                <div class="card-body">
                    <h5 class="card-title">Capinha divertidamente</h5>
                    <p class="card-text">Com um design elegante e bateria de longa duração, esse modelo é ideal para o dia a dia.</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>

        <!-- Card de Produto 4 -->
        <div class="col-md-4">
            <div class="card">
                <img src="{% static 'img/ipad1.jpg' %}" class="card-img-top" alt="Celular Modelo 4">
                <div class="card-body">
                    <h5 class="card-title">Ipad</h5>
                    <p class="card-text">Celular com 5G, tela de 6.7" e excelente desempenho para multitarefas.</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
        <!-- Card de Produto 5 -->
        <div class="col-md-4">
            <div class="card">
                <img src="{% static 'img/ipad2.jpg' %}" class="card-img-top" alt="Celular Modelo 5">
                <div class="card-body">
                    <h5 class="card-title">Ipad</h5>
                    <p class="card-text">Com câmeras incríveis de 64MP, ideal para quem ama tirar fotos e vídeos.</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
        <!-- Card de Produto 6 -->
        <div class="col-md-4">
            <div class="card">
                <img src="{% static 'img/motorola edge 50.png' %}" class="card-img-top" alt="Celular Modelo 6">
                <div class="card-body">
                    <h5 class="card-title">Motorola</h5>
                    <p class="card-text">Um celular com ótima relação custo-benefício e excelente duração de bateria.</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>

        <!-- Card de Produto 7 -->
        <div class="col-md-4">
            <div class="card">
                <img src="{% static 'img/nokia 5.4.jpg' %}" class="card-img-top" alt="Celular Modelo 7">
                <div class="card-body">
                    <h5 class="card-title">Nokia</h5>
                    <p class="card-text">Design sofisticado com tela de 6.5" e alto-falantes estéreo.</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
        <!-- Card de Produto 8 -->
        <div class="col-md-4">
            <div class="card">
                <img src="{% static 'img/samsung s23.jpg' %}" class="card-img-top" alt="Celular Modelo 8">
                <div class="card-body">
                    <h5 class="card-title">Sony</h5>
                    <p class="card-text">Com tecnologia de carregamento rápido e tela OLED vibrante.</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
        <!-- Card de Produto 9 -->
        <div class="col-md-4">
            <div class="card">
                <img src="{% static 'img/xiaomi m11.jpg' %}" class="card-img-top" alt="Celular Modelo 9">
                <div class="card-body">
                    <h5 class="card-title">Huawai</h5>
                    <p class="card-text">Celular com excelente performance para jogos e multitarefas.</p>
                    <a href="#" class="btn btn-primary">Comprar</a>
                </div>
            </div>
        </div>
    </div>
</section>



    <!-- JavaScript (Opcional) -->
    <!-- jQuery primeiro, depois Popper.js, depois Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<script>
    $(document).ready(function() {
        // Verifica se a mensagem existe
        if ($('#messageModal').length) {
            // Exibe a mensagem por 3 segundos e depois a oculta
            setTimeout(function() {
                $('#messageModal').fadeOut('slow');
            }, 3000); // Tempo em milissegundos (3000ms = 3 segundos)
        }
    });
</script>

</body>
</html>